
*.vsidx
*extra
*.txt
*.py
*.env
.env
.env
.env
.env
*.dll
*.dll
/API/bin/Debug/net8.0
/API/bin/Debug
/API/bin
API/bin/Debug/net8.0/Core.dll
/Core/obj/Debug/net8.0/refint
/Core/obj/Debug/net8.0
/Core/obj/Debug
/Core/bin
/Core/bin/Debug/net6.0
/.vs/RoofStock/v17
*.log
*.dll
